<!DOCTYPE html>
<html>
<head>

    <!-- Basic Page Needs
    ================================================== -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Simphiwe Fisokuhle Protters Dlamuka Portfolio</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">

    <!-- Mobile Specific Metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, minimum-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Varela" rel="stylesheet">

    <!-- Favicon
    ================================================== -->
    <link rel="apple-touch-icon" sizes="144x144" href="~/img/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/favicon-16x16.png">
    <link rel="icon" sizes="16x16" href="~/img/favicon.ico">
    <link rel="manifest" href="~/img/manifest.json">
    <link rel="mask-icon" href="~/img/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="theme-color" content="#ffffff">

    <!-- Stylesheets
    ================================================== -->
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />

    <!-- Font Awesome core CSS -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/style.css">

</head>
<body>

    <!-- Hero Section, Background Image change in css -->
    <div id="top" class="hero background-overlay">

        <!-- Name & Description -->
        <div class="hero-content">
            <h1>I am Simphiwe Fisokuhle Protters Dlamuka</h1>
            <p class="hero-job"><span>I'M A JUNIOR SOFTWARE DEVELOPER</span></p>
            <!-- <p class="hero-job-desc">I STAND ON A SWEET SPOT WHERE DESIGN &amp; CODE INTERSECTS. </p> -->

        </div>

        <div class="hero-arrow page-scroll home-arrow-down">
            <a class="" href="#intro"><i class="fa fa-angle-double-down" aria-hidden="true"></i></a>
        </div>

    </div>

    <!-- Header -->
    <header id="masthead" class="site-header">
        <nav id="primary-navigation" class="site-navigation" data-spy="affix">
            <div class="container">
                <div class="navbar-header page-scroll">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#portfolio-perfect-collapse" aria-expanded="false">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Name -->
                    <div class="page-scroll site-logo">
                        <a href="#top">SIM</a>
                    </div>

                </div><!-- /.navbar-header -->

                <div class="main-menu collapse navbar-collapse" id="portfolio-perfect-collapse">

                    <!-- Navigation -->
                    <ul class="nav navbar-nav navbar-right">

                        <li class="page-scroll"><a href="#top">Home</a></li>
                        <li class="page-scroll"><a href="#intro">Intro</a></li>
                        <li class="page-scroll"><a href="#about">About</a></li>
                        <li class="page-scroll"><a href="#services">Services</a></li>
                        <li class="page-scroll"><a href="#team">References</a></li>
                        <li class="page-scroll"><a href="#history">History</a></li>
                        <li class="page-scroll"><a href="#works">Works</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- Main content -->
    <main id="main" class="site-main">
        <section class="site-section section-hello" id="intro">
            <div class="container">
                <h2>WELCOME&amp;EXPLORE MY WORLD </h2>
                <p class="section-subtitle"><span>I possess the following abilities and qualities</span></p>
                <div class="row">
                    <div class="col-sm-4">
                        <div class="main-service text-right">
                            <div class="rectangle">
                                <i class="fa fa-calendar" aria-hidden="true"></i>
                            </div>
                            <h3>Critical thinking and problem solving</h3>
                            <p>Your deadline is the most important value for us. Our job is to make sure the job is done perfectly before the deadline.</p>
                        </div>
                        <div class="main-service text-right">
                            <div class="rectangle">
                                <i class="fa fa-comments" aria-hidden="true"></i>
                            </div>
                            <h3>Communication Is Key</h3>
                            <p>Our team is available to check on your questions and take in feedback as soon as possibly.</p>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="big-rectangle">
                            <img src="~/img/john-logo.png" alt="">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="main-service text-left">
                            <div class="rectangle">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </div>
                            <h3>Teamwork and collaboration</h3>
                            <p>We test out everything to make sure that your project is fully functional, cross–browser compatible and meets your specifications.</p>
                        </div>
                        <div class="main-service text-left">
                            <div class="rectangle">
                                <i class="fa fa-list" aria-hidden="true"></i>
                            </div>
                            <h3>Professionalism and strong work ethic</h3>
                            <p>We develop meaningful digital products and experiences that matter with design thinking and creative craftsmanship.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Quote section -->
        <section class="section-background section-quote background-overlay text-center">
            <div class="container">
                <p>Get  <span>to</span> known more about my  <span>Personality &amp; Skills I posses</span>,and how a maintain good working relationships.</p>
            </div>
        </section>

        <!-- About section -->
        <section class="site-section section-about text-center" id="about">
            <div class="container">
                <h2 class="section-subtitle"> <span>PROFILE</span></h2>
                <br />
                <p>
                    I am a capable and energetic young person, self-motivated, and I carry the desire
                    to learn new things and bring forth favorable qualities to perform the job with
                    competency and efficiency. I am an ambitious, goal-driven person who is intelligent
                    and hardworking and I do love challenges because they always bring the best out in
                    me. I have patience, good team player, and I can build and maintain good working
                    relationships. I tackle problems head-on furthermore; I believe that the skills that
                    I possess will play a vital role in any organization. In addition, I am certain about
                    bringing positive changes to any organization by coming up with innovative ideas,
                    if only granted the opportunity to do so. Experienced Web Developer adept in all
                    stages of advanced web development. Knowledgeable in user interface, testing,
                    and debugging processes. Bringing forth expertise in design, installation, testing
                    and maintenance of web systems. Equipped with a diverse and promising skill-set.
                    Proficient in an assortment of technologies, including Java, ASP.NET, C#, IIS, Tomcat,
                    and Microsoft SQL Server. Able to effectively self-manage during independent
                    projects, as well as collaborate in a team setting.
                </p>
                <div class="row">
                    <div class="col-sm-3 col-xs-6">
                        <div class="feature-about">
                            <div class="medium-rectangle rectangle">
                                <i class="fa fa-laptop" aria-hidden="true"></i>
                            </div>
                            <h3>Web development</h3>
                            <p>Our approach to website design is to create a website that strengthens your company’s brand while ensuring ease of use and simplicity for your audience</p>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="feature-about">
                            <div class="medium-rectangle rectangle">
                                <i class="fa fa-code" aria-hidden="true"></i>
                            </div>
                            <h3>Application Programming Interface</h3>
                            <p>The web development process involves taking the graphical elements defined in the design process and coding them into a custom theme.</p>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="feature-about">
                            <div class="medium-rectangle rectangle">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </div>
                            <h3>My SQL</h3>
                            <p>Go farther than you thought you could. With us you can go farther then ever before. Be in top results of searches.</p>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="feature-about">
                            <div class="medium-rectangle rectangle">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </div>
                            <h3>Mobile Development</h3>
                            <p>It's important to keep your brand consistent and recognizable across all platforms</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Services section -->
        <section class="site-section section-services" id="services">

            <div class="container-fluid">
                <h2>PROJECTS I CAN WORK ON</h2>
                <p class="section-subtitle"><span>Exceptional level of service</span></p>
            </div>

            <div class="container">

                <div class="carousel slide" id="services-carousel">

                    <div class="item-controls text-center">
                        <a href="#services-carousel" class="left btn carousel-control" data-slide="prev">
                            <i class="fa fa-angle-left" aria-hidden="true"></i>
                        </a>
                        <a href="#services-carousel" class="right btn carousel-control" data-slide="next">
                            <i class="fa fa-angle-right" aria-hidden="true"></i>
                        </a>
                    </div><!-- /.item-controls -->

                    <div class="carousel-indicators nav-tabs text-center">
                        <a data-target="#services-carousel" href="#" data-slide-to="0" class="active">
                            <div class="col-xs-4 col-sm-fifth">
                                <div class="service">
                                    <div class="rectangle">
                                        <i class="fa fa-laptop" aria-hidden="true"></i>
                                    </div>
                                    <p class="hidden-xs">WEB DEVELOPMENT</p>
                                </div>
                            </div>
                        </a>
                        <a data-target="#services-carousel" href="#" data-slide-to="1">
                            <div class="col-xs-4 col-sm-fifth">
                                <div class="service">
                                    <div class="rectangle">
                                        <i class="fa fa-code" aria-hidden="true"></i>
                                    </div>
                                    <p class="hidden-xs">Web Application Programming Interface</p>
                                </div>
                            </div>
                        </a>
                        <a data-target="#services-carousel" href="#" data-slide-to="2">
                            <div class="col-xs-4 col-sm-fifth">
                                <div class="service">
                                    <div class="rectangle">
                                        <i class="fa fa-mobile" aria-hidden="true"></i>
                                    </div>
                                    <p class="hidden-xs">Mobile Development</p>
                                </div>
                            </div>
                        </a>
                        <a data-target="#services-carousel" href="#" data-slide-to="3">
                            <div class="col-xs-4 col-sm-fifth">
                                <div class="service">
                                    <div class="rectangle">
                                        <i class="fa fa-search" aria-hidden="true"></i>
                                    </div>
                                    <p class="hidden-xs">
                                        MY SQL
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a data-target="#services-carousel" href="#" data-slide-to="4">
                            <div class="col-xs-4 col-sm-fifth">
                                <div class="service">
                                    <div class="rectangle">
                                        <i class="fa fa-twitter" aria-hidden="true"></i>
                                    </div>
                                    <p class="hidden-xs">Social Media</p>
                                </div>
                            </div>
                        </a>
                    </div><!-- /.carousel-indicators -->


                    <div class="carousel-inner">
                        <!-- Item 1 -->
                        <div id="item1" class="item tab-pane active">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="service-info">
                                        <h3 class="service-title">Web Design</h3>
                                        <p>Decorations don’t drive home messages. Content does. Reducing text-based content to a visual design element (the shape of the text) can result in bloated and unrealistic client expectations once real data replaces the dummy content. We allow our design decisions to be dictated by the on-page content and messaging, and often our designers use the actual content to inspire interesting elements that might not have been conceived without it</p>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <img src="~/img/web-design.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- Item 2 -->
                        <div id="item2" class="item tab-pane">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="service-info">
                                        <h3 class="service-title">Web Development</h3>
                                        <p>Once we have come up with a unique design and have finalized the textures and graphics to be added, the next step is to make it all come together. And that is what we aim to achieve at our web development agency India. Only a professionally designed website can justify the uniqueness of your idea and this is a fact clearly understood by our team. </p>

                                        <p>While a good design can impress the users, it is the codes and development process that ensures that your target users will find the browsing experience equally amazing as your design. </p>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <img src="~/img/web-development.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- Item 3 -->
                        <div id="item3" class="item tab-pane">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="service-info">
                                        <h3 class="service-title">Mobile Development</h3>
                                        <p>With an increasing importance being given to smart phones, and mobile apps, it has become immensely important to include app development as part of web design services. Our team is known to provide excellent and extraordinary apps that are unique in every way. All the apps developed by our team are based on providing interesting features combined with enhanced functionality. With a mobile app in place, you can increase the reach of your brand and broaden its horizons too. You can have an easy to use professional app created that provides ease of functionality and an amazing appeal.</p>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <img src="~/img/mobile-development.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- Item 4 -->
                        <div id="item4" class="item tab-pane">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="service-info">
                                        <h3 class="service-title">SEO optimization</h3>
                                        <p>Search engine optimization (SEO) is the process of improving the visibility of a web site in search engines. Consumer puts a lot of trust in search engines to find what they need. Google receives 34,000 searches per second. Those searches involve finding products, reviewing brands, and looking up business locations.</p>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <img src="~/img/seo-optimization.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </div>
                        <!-- Item 5 -->
                        <div id="item5" class="item tab-pane">
                            <div class="row">
                                <div class="col-md-5">
                                    <div class="service-info">
                                        <h3 class="service-title">Social Media</h3>
                                        <p>Social Media, has become an essential tool of marketing an online business. It gives you a platform to interact and inform people about yourself and your brand. The concept of social media basically refers to the task of promoting websites or business through social media platforms..</p>
                                    </div>
                                </div>
                                <div class="col-md-7">
                                    <img src="~/img/social-media.jpg" class="img-responsive" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Reviews section -->
        <section class="site-section section-reviews text-center">
            <div class="container">
                <h2>Testimonial Reviews</h2>
            </div>

            <div class="blue-bg">
                <div class="container">
                    <div class="review-carousel">
                        <!-- Review 1 -->
                        <div class="review">
                            <div class="rectangle">
                                <img src="~/img/no-profile-picture-icon-female-0.jpg" class="img-res" alt="">
                            </div><p>
                                Mr Dlamuka registered as a full time student at DUT in 2018 to 2020 for his Diploma in ICT
                                in Application Development. He has complete all modules attaining 6 distinctions and has not
                                failed any subjects. The Diploma is a 360 credit qualification at NQF level 6.
                                From his results it must be noted that Mr Dlamuka is a hard working student as has who worked
                                well in team projects.
                            </p>
                            @*<p>If there were 100 star rating I would leave 110. I have been building WP sites now full time for 7 years and in business for 12 and have never worked with such a solid company with such a wonderful set of themes.</p>*@
                            <div class="review-author">
                                <h3>
                                    Mr J Pancham
                                </h3>
                                <p>
                                    Coordinator: Diploma in ICT in App Dev
                                    Senior Lecturer<br />
                                    Department of Information Technology<br />
                                    Phone: 031 373 5571<br />
                                    Email: panchamj@dut.ac.za
                                </p>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- Team section -->
        <section class="site-section section-team" id="team">
            <div class="container">
                <h2>A Look Back At My Education History</h2>
                <p class="section-subtitle"><span>This is the team that is working with me</span></p>

                <div class="team">
                    <div class="row">
                        <!-- Team Member -->
                        <div class="col-md-4 col-xs-6">
                            <div class="team-member">
                                <div class="flipper">
                                    <div class="team-member-front">
                                        <div class="team-member-thumb">
                                            <img src="~/img/no-profile-picture-icon-female-0.jpg" class="img-res" alt="">
                                        </div>
                                        <p class="team-member-front-name">Nogunjwa High School, Durban</p>
                                    </div>
                                    <div class="team-member-back">
                                        <div class="team-member-info">
                                            <h3 class="team-member-back-name">
                                                January 2013 - December 2017
                                                Graduated with High School
                                            </h3>
                                            <p class="team-member-back-position">National Senior Certificate</p>
                                            <div class="social-icons small">
                                                <a href="#" class="rectangle"><i class="fa fa-facebook"></i></a>
                                                <a href="#" class="rectangle"><i class="fa fa-twitter"></i></a>
                                                <a href="#" class="rectangle"><i class="fa fa-linkedin"></i></a>
                                                <a href="#" class="rectangle"><i class="fa fa-dribbble"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Team Member -->
                        <div class="col-md-4 col-xs-6">
                            <div class="team-member">
                                <div class="flipper">
                                    <div class="team-member-front">
                                        <div class="team-member-thumb">
                                            <img src="~/img/Dut2.png" class="img-res" alt="">
                                        </div>
                                        <p class="team-member-front-name">Durban University of Technology,Durban</p>
                                    </div>
                                    <div class="team-member-back">
                                        <div class="team-member-info">
                                            <h3 class="team-member-back-name">
                                                February 2018 - December 2020
                                            </h3>
                                            <p class="team-member-back-position">Diploma in ICT in Applications Development</p>
                                            <p class="team-member-back-position">
                                                Major Subjects.<br />
                                                • Application Development.<br />
                                                • Information System.<br />
                                                • Information System Management.<br />
                                                • Mobile Development.
                                            </p>
                                            <div class="social-icons small">
                                                <a href="#" class="rectangle"><i class="fa fa-facebook"></i></a>
                                                <a href="#" class="rectangle"><i class="fa fa-twitter"></i></a>
                                                <a href="#" class="rectangle"><i class="fa fa-linkedin"></i></a>
                                                <a href="#" class="rectangle"><i class="fa fa-dribbble"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Team Member -->
                        <div class="col-md-4 col-xs-6">
                            <div class="team-member">
                                <div class="flipper">
                                    <div class="team-member-front">
                                        <div class="team-member-thumb">
                                            <img src="~/img/Dut2.png" class="img-res" alt="">
                                        </div>
                                        <p class="team-member-front-name">Durban University of Technology,Durban</p>
                                    </div>
                                    <div class="team-member-back">
                                        <div class="team-member-info">
                                            <h3 class="team-member-back-name">
                                                February 2021 - December 2021
                                            </h3>
                                            <p class="team-member-back-position">
                                                Advanced In Information Technology
                                            </p>
                                            <div class="social-icons small">
                                                <a href="#" class="rectangle"><i class="fa fa-facebook"></i></a>
                                                <a href="#" class="rectangle"><i class="fa fa-twitter"></i></a>
                                                <a href="#" class="rectangle"><i class="fa fa-linkedin"></i></a>
                                                <a href="#" class="rectangle"><i class="fa fa-dribbble"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- History section -->
        <section class="section-history" id="history">
            <div class="container">
                <div class="text-center section-diff-title">
                    <h2>A Look Back At My History</h2>
                    <p>This my Work Experience</p>
                </div>
                <ul class="timeline">
                    <li class="timeline-start">
                        <div class="rectangle"><span>2021</span></div>
                    </li>
                    <li>
                        <div class="rectangle timeline-rectangle"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <div class="timeline-date">
                                    <p>1 Jul</p>
                                </div>
                                <div class="timeline-position">
                                    <p>Graduate Developer, AspireMoney ltd</p>
                                </div>
                            </div>
                            <div class="timeline-body">
                                <div class="timeline-body-thumb">
                                    <img src="~/img/download (1).png" class="img-res" alt="">
                                </div>
                                <p>
                                    July 2021 - Apr 2022 <br />
                                    As a Graduate Developer,
                                    I collaborate with senior developers and the development manager,
                                    gaining practical experience in software development.
                                    My responsibilities include writing and maintaining code,
                                    troubleshooting issues, and actively contributing to the design and development of software solutions
                                </p>
                            </div>
                        </div>
                    </li>

                    <!-- Timeline badge -->
                    <li class="timeline-start">
                        <div class="rectangle"><span>2022</span></div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="rectangle timeline-rectangle"></div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <div class="timeline-position">
                                    <p>Junior Software Developer, TTD Consulting</p>
                                </div>
                                <div class="timeline-date">
                                    <p>
                                        23 Apr
                                    </p>
                                </div>
                            </div>
                            <div class="timeline-body">
                                <div class="timeline-body-thumb">
                                    <img src="~/img/TTDlogo-color.png" class="img-res" alt="">
                                </div>
                                <p>
                                    Apr 2022 - Current <br />
                                    I am currently reporting directly to the development manager and assisting with
                                    all functions of software coding and design. My primary focus is the code base,
                                    attend design meetings, write basic code, fix bugs, assist the Software Development
                                    Manager in all design-related tasks, and respond to requests from senior developers.<br />
                                    Responsibilities:<br />
                                    • Assisting the development manager with all aspects of software design and
                                    coding.<br />
                                    • Attending and contributing to company development meetings.<br />
                                    • Writing and maintaining code.<br />
                                    • Working on minor bug fixes.<br />
                                    • Monitoring the technical performance of internal systems.<br />
                                    • Responding to requests from the development team.<br />
                                    • Gathering information from consumers about program functionality.<br />
                                    • Conducting development tests.
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

        <!-- Portfolio/Works section -->
        <section class="site-section section-works" id="works">
            <div class="container">
                <h2>RECENT WORKS</h2>
                <p class="section-subtitle"><span>READ WHAT I HAVE BEEN WORKING ON</span></p>

                <div class="portfolio">
                    <ul class="portfolio-sorting list-inline">
                        <li><a href="#" class=" active" data-group="all">all</a></li>
                        <li><a href="#" class="" data-group="webdesign">Web Development</a></li>
                        <li><a href="#" class="" data-group="webdev">Web Api</a></li>
                        <li><a href="#" class="" data-group="mobileapps">Mobile apps</a></li>
                    </ul>
                    <div id="grid">
                        <!-- Portfolio item -->
                        <div class="col-md-3 col-sm-4 col-xs-6" data-groups='["webdesign"]'>
                            <div class="portfolio-item">
                                <div class="portfolio-item-thumb">
                                    <img src="~/img/OIP (1).jpeg" alt="" class="img-res">
                                    <a href="#" class="rectangle" data-toggle="modal" data-target="#portfolioItem1">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                                <div class="portfolio-info">
                                    <h3>MVC</h3>
                                    <p>Web Development</p>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio item -->
                        <div class="col-md-3 col-sm-4 col-xs-6" data-groups='["webdev"]'>
                            <div class="portfolio-item">
                                <div class="portfolio-item-thumb">
                                    <img src="~/img/R (1).png" alt="" class="img-res">
                                    <a href="#" class="rectangle" data-toggle="modal" data-target="#portfolioItem2">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                                <div class="portfolio-info">
                                    <h3>Map</h3>
                                    <p>Web Api</p>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio item -->
                        <div class="col-md-3 col-sm-4 col-xs-6" data-groups='["mobileapps"]'>
                            <div class="portfolio-item">
                                <div class="portfolio-item-thumb">
                                    <img src="~/img/portfolio-4.jpg" alt="" class="img-res">
                                    <a href="https://selfservice.iua.co.za/login" class="rectangle" data-toggle="modal" data-target="#portfolioItem3">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                                <div class="portfolio-info">
                                    <h3>IOS App</h3>
                                    <p>Mobile App</p>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio item -->
                        <div class="col-md-3 col-sm-4 col-xs-6" data-groups='["webdesign"]'>
                            <div class="portfolio-item">
                                <div class="portfolio-item-thumb">
                                    <img src="~/img/OIP.jpeg" alt="" class="img-res">
                                    <a href="#" class="rectangle" data-toggle="modal" data-target="#portfolioItem4">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                                <div class="portfolio-info">
                                    <h3>Angular</h3>
                                    <p>Web Design</p>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio item -->
                        <div class="col-md-3 col-sm-4 col-xs-6" data-groups='["webdev"]'>
                            <div class="portfolio-item">
                                <div class="portfolio-item-thumb">
                                    <img src="~/img/portfolio-5.jpg" alt="" class="img-res">
                                    <a href="#" class="rectangle" data-toggle="modal" data-target="#portfolioItem5">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                                <div class="portfolio-info">
                                    <h3>ShoppingCart</h3>
                                    <p>Web Api</p>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio item -->
                        <div class="col-md-3 col-sm-4 col-xs-6" data-groups='["mobileapps"]'>
                            <div class="portfolio-item">
                                <div class="portfolio-item-thumb">
                                    <img src="~/img/portfolio-6.jpg" alt="" class="img-res">
                                    <a href="https://test-sales.iua.co.za/" class="rectangle" data-toggle="modal" data-target="#portfolioItem6">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                                <div class="portfolio-info">
                                    <h3>Android App</h3>
                                    <p>Mobile App</p>
                                </div>
                            </div>
                        </div>
                        <!-- Portfolio item -->
                        <div class="col-md-3 col-sm-4 col-xs-6" data-groups='["webdesign"]'>
                            <div class="portfolio-item">
                                <div class="portfolio-item-thumb">
                                    <img src="~/img/R.png" alt="" class="img-res">
                                    <a href="#" class="rectangle" data-toggle="modal" data-target="#portfolioItem8">
                                        <i class="fa fa-plus"></i>
                                    </a>
                                </div>
                                <div class="portfolio-info">
                                    <h3>React</h3>
                                    <p>Web Design</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </section>

        <!-- Me section -->
        <section class="section-background section-me background-overlay text-center">
            <div class="container page-scroll">
                <h2>Are You Impressed By My Work?</h2>
                <p>Download My Curriculum Vitae</p>
                <a href="#contact" class="btn">Download</a>
            </div>
        </section>

        <!-- Clients section -->
        <section class="section-clients">
            <div class="container">
                <div class="text-center section-diff-title">
                    <h2>Clients I’ve Worked So Far</h2>
                    <p></p>
                </div>

                <div class="clients-carousel">
                    <a href="https://www.dut.ac.za/" class="client">
                        <img src="~/img/Dut2.png" class="img-responsive" alt="">
                    </a>
                    <a href="https://www.aspiremoney.co.uk/" class="client">
                        <img src="~/img/download (1).png" class="img-responsive" alt="">
                    </a>
                    <a href="https://ttdconsulting.net/" class="client">

                        <img src="~/img/TTDlogo-color.png" class="img-responsive" alt="">
                    </a>
                    <a href="http://www.voicecontactsolutions.com/" class="client">
                        <img src="~/img/download.jpeg" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </section>
        <!-- End Clients section -->
        <!-- Social Networks section -->
        <section class="section-networks blue-bg">
            <div class="container">
                <a href="#" class="rectangle">
                    <i class="fa fa-instagram"></i>
                </a>
                <a href="#" class="rectangle">
                    <i class="fa fa-youtube-play"></i>
                </a>
                <a href="#" class="rectangle">
                    <i class="fa fa-envelope"></i>
                </a>
                <a href="https://www.linkedin.com/in/simphiwe-dlamuka-01022120b/" class="rectangle">
                    <i class="fa fa-linkedin"></i>
                </a>
            </div>
        </section>

    </main>

    <!-- Footer -->
    <footer id="colophon" class="site-footer">

        <div class="container-fluid">

            <ul class="list-unstyled list-inline">
                <li class="page-scroll"><a href="#top">Home</a></li>
                <li class="page-scroll"><a href="#intro">Intro</a></li>
                <li class="page-scroll"><a href="#about">About</a></li>
                <li class="page-scroll"><a href="#services">Services</a></li>
                <li class="page-scroll"><a href="#team">Education</a></li>
                <li class="page-scroll"><a href="#history">History</a></li>
                <li class="page-scroll"><a href="#works">Works</a></li>
            </ul>

            <div class="page-scroll">
                <a href="#top" class="rectangle">
                    <i class="fa fa-angle-double-up"></i>
                </a>
            </div>

        </div>

        <div class="container text-center">
            <p class="copyright">&copy; <a href="http://pixelperfect.mk/" target="_blank">SIMPHIWE FISOKUHLE PROTTERS DLAMUKA</a> - <span id="currentYear"></span></p>
        </div>
    </footer>

    <!-- Modals -->
    <div id="portfolioItem1" class="modal fade fade-scale" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="rectangle" data-dismiss="modal"><i class="fa fa-times"></i></a>
                    <img class="img-res" src="~/img/portfolio-1.jpg" alt="">
                </div>
                <div class="modal-body">
                    <h4 class="modal-title">Aspire Money</h4>
                    <p>Aspire Money is a financial service provider that helps customers find the best loan options by connecting them with suitable lenders. Acting as a loan broker rather than a direct lender, Aspire Money assesses individual financial situations and matches customers with lenders that align with their needs and credit profiles.</p>
                </div>
                <div class="modal-footer">
                    <a href="https://www.aspiremoney.co.uk/" class="btn">Visit Page</a>
                </div>
            </div>
        </div>
    </div><!-- /.modal -->

    <div id="portfolioItem2" class="modal fade fade-scale" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="rectangle" data-dismiss="modal"><i class="fa fa-times"></i></a>
                    <img class="img-res" src="~/img/portfolio-2.jpg" alt="">
                </div>
                <div class="modal-body">
                    <h4 class="modal-title">Project title 2</h4>
                    <p>Coming Soon..</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn">Visit Page</a>
                </div>
            </div>
        </div>
    </div><!-- /.modal -->

    <div id="portfolioItem3" class="modal fade fade-scale" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="rectangle" data-dismiss="modal"><i class="fa fa-times"></i></a>
                    <img class="img-res" src="~/img/portfolio-4.jpg" alt="">
                </div>
                <div class="modal-body">
                    <h4 class="modal-title">Sales App</h4>
                    <p>
                        The purpose of the app (managing sales, tracking orders, generating reports)<br />
                        Key features (user authentication, order management, sales analytics))<br />
                        Target users (sales representatives, managers, customers)
                    </p>
                </div>
                <div class="modal-footer">
                    <a href="https://test-sales.iua.co.za/login" class="btn">Visit Page</a>
                </div>
            </div>
        </div>
    </div><!-- /.modal -->

    <div id="portfolioItem4" class="modal fade fade-scale" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="rectangle" data-dismiss="modal"><i class="fa fa-times"></i></a>
                    <img class="img-res" src="~/img/portfolio-3.jpg" alt="">
                </div>
                <div class="modal-body">
                    <h4 class="modal-title">Project title 4</h4>
                    <p>Coming Soon..</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn">Visit Page</a>
                </div>
            </div>
        </div>
    </div><!-- /.modal -->

    <div id="portfolioItem5" class="modal fade fade-scale" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="rectangle" data-dismiss="modal"><i class="fa fa-times"></i></a>
                    <img class="img-res" src="~/img/portfolio-5.jpg" alt="">
                </div>
                <div class="modal-body">
                    <h4 class="modal-title">Project title 5</h4>
                    <p>Coming Soon..</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn">Visit Page</a>
                </div>
            </div>
        </div>
    </div><!-- /.modal -->

    <div id="portfolioItem6" class="modal fade fade-scale" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="rectangle" data-dismiss="modal"><i class="fa fa-times"></i></a>
                    <img class="img-res" src="~/img/portfolio-6.jpg" alt="">
                </div>
                <div class="modal-body">
                    <h4 class="modal-title">Self Service</h4>
                    <p>Self-Service App is a user-friendly platform designed to empower customers by providing quick and convenient access to essential services. The app allows users to manage their accounts, track requests, update personal information, and access support without needing direct assistance.</p>
                </div>
                <div class="modal-footer">
                    <a href="https://selfservice.iua.co.za/login" class="btn">Visit Page</a>
                </div>
            </div>
        </div>
    </div><!-- /.modal -->

    <div id="portfolioItem7" class="modal fade fade-scale" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="rectangle" data-dismiss="modal"><i class="fa fa-times"></i></a>
                    <img class="img-res" src="assets/img/portfolio-7.jpg" alt="">
                </div>
                <div class="modal-body">
                    <h4 class="modal-title">Project title 7</h4>
                    <p>Coming Soon..</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn">Visit Page</a>
                </div>
            </div>
        </div>
    </div><!-- /.modal -->

    <div id="portfolioItem8" class="modal fade fade-scale" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="rectangle" data-dismiss="modal"><i class="fa fa-times"></i></a>
                    <img class="img-res" src="~/img/portfolio-8.jpg" alt="">
                </div>
                <div class="modal-body">
                    <h4 class="modal-title">Project title8</h4>
                    <p>Coming Soon..</p>
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn">Visit Page</a>
                </div>
            </div>
        </div>
    </div><!-- /.modal -->
    <!-- Bootstrap core JavaScript================================================== -->
    <!-- jQuery core js -->
    <script src="~/js/jquery.min.js"></script>

    <!-- Bootstrap core js -->
    <script src="~/js/bootstrap.min.js"></script>

    <!-- Bootstrap progressbar JS -->
    <script src="~/js/bootstrap-progressbar.min.js"></script>

    <!-- Count To JS -->
    <script src="~/js/jquery.countTo.min.js"></script>

    <!-- Easing JS -->
    <script src="~/js/jquery.easing.min.js"></script>

    <!-- Shuffle JS -->
    <script src="~/js/jquery.shuffle.min.js"></script>

    <!-- Slick Carousel JS -->
    <script src="~/js/slick.min.js"></script>

    <!-- Touchswipe JS -->
    <script src="~/js/touchswipe.min.js"></script>
 
    <script>
        document.getElementById("currentYear").textContent = new Date().getFullYear();
    </script>
    <!-- Custom JS -->
    <script src="~/js/script.js"></script>

    @RenderBody()



</body>
</html>
